NEXT_PUBLIC_SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_ANON_KEY=""

NEXT_PUBLIC_APP_NAME="AI Keyboard"
NEXT_PUBLIC_APP_ICON="/ai-kb-logo.png"

NEXT_PUBLIC_API_URL="http://localhost:3001"
NEXT_PUBLIC_MEMORY_API_URL="http://localhost:8000"
